<h2 nz-typography>Pessoas</h2>

<div nz-flex nzJustify="space-between">
    <nz-space nz-flex nzAlign="center">
        <a nz-button *nzSpaceItem nzType="primary" routerLink="/add-person">
            <span nz-icon nzType="plus"></span>
            Adicionar pessoa
        </a>
    </nz-space>

    <div nz-form nzLayout="horizontal" style="max-width: 24rem;">
        <nz-form-item>
            <nz-form-label [nzSpan]="null" hidden>Filtro</nz-form-label>

            <nz-form-control [nzSpan]="null">
                <nz-input-group [nzSuffix]="suffixIconFilter">
                    <input nz-input type="text" ngControl formControlName="nameFilter" placeholder="Nome ou CPF"
                        (keyup)="applyFilter($event)" name="nameFilter" />
                </nz-input-group>
            </nz-form-control>

            <ng-template #suffixIconFilter>
                <span nz-icon nzType="filter" nzTheme="fill"></span>
            </ng-template>
        </nz-form-item>
    </div>
</div>

<nz-table #basicTable [nzData]="persons()">
    <thead>
        <tr>
            <th>Foto | Nome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (data of basicTable.data; track $index) {
        <tr>
            <td style="display: flex; gap: 0.25rem; align-items: center;">
                <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="data.photoUrl"></nz-avatar>
                {{data.name}}
            </td>

            <td>{{formatCpf(data.maskedCpf)}}</td>

            <td>
                <!-- <button (click)="deletePerson(data.id)">
                    <span nz-icon nzType="delete"></span>
                    Apagar
                </button> -->

                <button nzType="text" nz-button nzDanger nz-popconfirm nzPopconfirmTrigger="hover" nzOkText="Apagar" nzPopconfirmTitle="Você tem certeza?"
                    (nzOnConfirm)="deletePerson(data.id)">
                    <span nz-icon nzType="delete"></span>
                    Apagar
                </button>
                <ng-template #iconTpl>
                    <span nz-icon nzType="question-circle-o" style="color: red;"></span>
                </ng-template>
            </td>
        </tr>
        }
    </tbody>
</nz-table>