<h2 nz-typography>Pessoas</h2>

<div nz-flex nzJustify="space-between" nzAlign="start">
    <div nz-flex nzAlign="center">
        <a nz-button nzType="primary" routerLink="/person/add/">
            <span nz-icon nzType="plus"></span>
            Adicionar pessoa
        </a>
    </div>

    <div nz-form nzLayout="horizontal" style="max-width: 24rem;">
        <nz-form-item>
            <nz-form-label [nzSpan]="null" hidden>Filtro</nz-form-label>

            <nz-form-control [nzSpan]="null">
                <nz-input-group [nzSuffix]="suffixIconFilter">
                    <input nz-input type="text" ngControl formControlName="nameFilter" placeholder="Nome ou CPF"
                        (keyup)="applyFilter($event)" name="nameFilter" />
                </nz-input-group>
            </nz-form-control>

            <ng-template #suffixIconFilter>
                <span nz-icon nzType="filter" nzTheme="fill"></span>
            </ng-template>
        </nz-form-item>
    </div>
</div>

<nz-table #basicTable [nzData]="persons()">
    <thead>
        <tr>
            <th>Foto | Nome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (data of basicTable.data; track $index) {
        <tr (click)="goToDetails(data.id)" style="cursor: pointer;">
            <td>
                <div style="display: flex; gap: 0.25rem; align-items: center;">
                    <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="data.photoUrl"></nz-avatar>
                    {{data.name}}
                </div>
            </td>

            <td>{{formatCpf(data.maskedCpf)}}</td>

            <td>
                <button (click)="$event.stopPropagation()" nzType="text" nz-button nzDanger nz-popconfirm nzPopconfirmTrigger="hover" nzOkText="Apagar"
                    nzPopconfirmTitle="Você tem certeza?" (nzOnConfirm)="deletePerson(data.id)">
                    <span nz-icon nzType="delete"></span>
                    Apagar
                </button>
                <ng-template #iconTpl>
                    <span nz-icon nzType="question-circle-o" style="color: red;"></span>
                </ng-template>

                <a nz-button nzType="text" (click)="$event.stopPropagation()" [routerLink]="['/person/edit/', data.id]">
                    <span nz-icon nzType="edit"></span>
                    Editar
                </a>

                <a nz-button nzType="text" (click)="$event.stopPropagation()" [routerLink]="['/person/details/', data.id]">
                    <span nz-icon nzType="info-circle"></span>
                    Detalhes
                </a>
            </td>
        </tr>
        }
    </tbody>
</nz-table>