:host {
    height: 100%;
}

nz-layout {
    min-height: 100vh;
}

.logo a {
    height: 64px;
    line-height: 64px;
    background: #001529;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo span {
    display: flex;
    font-size: 20px;
}

.logo h1 {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
}

[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    nz-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 768px) {
    nz-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1024px) {
    nz-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1536px) {
    nz-content {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
