<nz-layout>
    <nz-header>
        <div class="logo">
            <a href="/">
                <span nz-icon nzType="idcard" nzTheme="fill"></span>
                <h1>Facevault</h1>
            </a>
        </div>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>Pessoas</nz-breadcrumb-item>
        </nz-breadcrumb>

        <div class="inner-content">
            <router-outlet />
        </div>
    </nz-content>
    <nz-footer>Luis Emidio 2024-presente</nz-footer>
</nz-layout>
