html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Fix nz-table overflow bug */
.ant-table-content {
    overflow: auto !important;
}

/* Fix nz-popconfirm gap bug */
.ant-popover-message {
    gap: 0.25rem;
}

nz-avatar {
    border: 1px rgb(229 231 235) solid;
}

nz-skeleton-element .ant-skeleton-avatar {
    width: 100% !important;
    height: 100% !important;
}
